<mat-toolbar class="top-navbar" color="primary">
  <mat-toolbar-row>
    <button mat-button>
      <mat-icon>sports_soccer</mat-icon> Игры
    </button>

    <button mat-button>
      <mat-icon>supervisor_account</mat-icon> Игроки
    </button>

    <span class="mat-toolbar-space"></span>

    <button mat-button>
      <mat-icon>login</mat-icon> Войти
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="app-content">
  <router-outlet></router-outlet>
</div>
